@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply box-border px-4 pt-4
  }
  a {
    @apply p-2 bg-gray-600 rounded text-white font-medium
  }
  th {
    @apply px-4 py-5 text-lg text-left;

  }
  td {
    @apply px-3 py-4 text-lg;
  }
  button {
    @apply inline-block px-6 py-2.5  text-white font-medium text-xs leading-tight uppercase rounded shadow-md  hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0  active:shadow-lg transition duration-150 ease-in-out
  }
}
